@charset "UTF-8";
body {
  color: #333;
  background: #e7e7e7;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

button, .button {
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border: 0;
  background: #727290;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #727290;
  cursor: pointer;
  text-decoration: none; }
  button:focus, .button:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(0, 0, 255, 0.2); }
  button:hover, .button:hover {
    background: #787894;
    color: white; }
  button:disabled, .button:disabled {
    background: #818181;
    opacity: 0.8;
    cursor: default; }
  button.outline, .button.outline {
    background: white;
    color: #5b5b74; }
  button.big_button, .button.big_button {
    font-size: 18px;
    padding: 10px 18px; }

blockquote {
  background: #f7f7f7;
  padding: 1em;
  margin: 1em 0; }
  blockquote > p {
    margin: 0;
    margin-bottom: 1em;
    color: #666; }
    blockquote > p:first-child {
      margin-top: 0; }
    blockquote > p:last-child {
      margin-bottom: 0; }

.return_link:before {
  content: "â†";
  display: inline-block;
  margin-right: 5px;
  text-decoration: none; }

a {
  color: #727290; }
  a:hover {
    color: #5b5b74; }

form .form_buttons, .form .form_buttons {
  margin-top: 32px; }

form .form_error, .form .form_error {
  background: #D14343;
  color: white;
  padding: 15px 20px;
  margin-bottom: 20px; }

form .input_row, .form .input_row {
  margin-bottom: 15px; }
  form .input_row .label, .form .input_row .label {
    color: #666;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase; }
  form .input_row input[type='text'], form .input_row input[type='password'], form .input_row input[type='email'], .form .input_row input[type='text'], .form .input_row input[type='password'], .form .input_row input[type='email'] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #bcbcbc;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    width: 50%; }
  form .input_row:last-child, .form .input_row:last-child {
    margin-bottom: 0; }

.page_container {
  background: white;
  margin: 60px auto;
  width: 600px;
  padding: 40px; }
  @media (max-width: 640px) {
    .page_container {
      margin: 0;
      width: auto;
      padding: 20px; } }
  .page_container > h2 {
    margin-top: 0;
    font-size: 32px; }
  .page_container p {
    font-size: 16px;
    line-height: 1.5; }
  .page_container > p:last-child {
    margin-bottom: 0; }
  .page_container > ul {
    font-size: 16px;
    line-height: 1.5; }
    .page_container > ul > li {
      margin-bottom: 8px; }
      .page_container > ul > li:last-child {
        margin-bottom: 0; }

.header_spacer {
  height: 50px; }

.header {
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  align-items: center; }
  .header .user_links {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: #666; }
    .header .user_links > a, .header .user_links > .right_section {
      white-space: nowrap; }
    .header .user_links > * {
      margin-right: 20px; }
      .header .user_links > *:last-child {
        margin-right: 0; }
  .header .menu_toggle {
    position: relative; }
    .header .menu_toggle button {
      background: transparent;
      padding: 6px 8px;
      color: #666;
      font-size: 14px;
      cursor: pointer; }
      .header .menu_toggle button > svg {
        fill: #333;
        margin-left: 3px;
        display: inline-block;
        vertical-align: 1px; }
    .header .menu_toggle .menu_shroud {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      z-index: 1; }
    .header .menu_toggle .navigation_menu {
      z-index: 2; }
  .header .navigation_menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: white;
    margin-top: 10px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    .header .navigation_menu:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.2); }
    .header .navigation_menu .midi_button_wrapper {
      padding: 8px 10px 5px 10px;
      display: flex; }
      .header .navigation_menu .midi_button_wrapper > button {
        flex: 1;
        text-align: left;
        display: block; }
    .header .navigation_menu .account_area {
      border-bottom: 1px solid #d5d5d5;
      display: flex;
      padding: 8px 10px;
      align-items: center; }
      .header .navigation_menu .account_area.logged_in > :first-child {
        flex: 1; }
      .header .navigation_menu .account_area.logged_in .username {
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .header .navigation_menu .account_area.logged_out > * {
        flex: 1; }
        .header .navigation_menu .account_area.logged_out > *:last-child {
          text-align: right; }
    .header .navigation_menu ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .header .navigation_menu ul li {
        margin: 8px 10px; }
        .header .navigation_menu ul li a {
          display: block; }
  .header .right_section {
    text-align: right;
    flex: 1; }
  .header .logo, .header .logo_small {
    opacity: 0.7;
    margin-right: 10px;
    display: block; }
  .header .logo_small {
    display: none; }
  @media (max-width: 1200px) {
    .header .logo {
      display: none; }
    .header .logo_small {
      display: block; } }
  .settings_open .header button {
    visibility: hidden; }
  .header h1 {
    margin: 0 20px 0 0;
    line-height: 15px;
    font-size: 22px;
    text-transform: uppercase;
    color: #444; }
    .header h1 a {
      color: inherit;
      text-decoration: none; }
  .header .logo_link {
    padding: 0; }
  .header a {
    padding: 3px 6px;
    font-weight: bold;
    text-decoration: none;
    color: #444; }
    .header a:hover {
      color: #727290; }
    .header a.active {
      font-weight: bold;
      text-decoration: none;
      background: #f6f6f6;
      color: #60607a;
      border-radius: 2px;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); }
  .header a.logo_link {
    color: #000; }

.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }
  @media (max-width: 1100px) {
    .workspace {
      display: block; } }
  .keyboard_open .workspace {
    bottom: 180px; }
    @media (max-width: 1100px) {
      .keyboard_open .workspace {
        bottom: 120px; } }
    @media (max-width: 800px) {
      .keyboard_open .workspace {
        bottom: 90px; } }
  .settings_open .workspace {
    left: 270px; }
  .workspace h1 {
    font-size: 28px;
    margin: 0;
    margin-top: 13px; }
    @media (max-width: 1100px) {
      .workspace h1 {
        margin-top: 25px; } }
.stat_container {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-left: 15px;
  border-left: 1px solid #d5d5d5;
  padding: 5px 0 5px 15px; }
  .stat_container:first-child {
    border-left: 0; }
  .stat_container .value {
    font-size: 22px;
    margin-bottom: 4px; }
  .stat_container .label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999; }

.staff_wrapper {
  background: white;
  margin: 0 0 20px 0;
  padding: 15px 0 10px 40px;
  overflow: hidden;
  position: relative; }
  @media (max-width: 1100px) {
    .staff_wrapper {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      padding-left: 20px; } }
  .scroll_mode .staff_wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 60px);
    right: 0;
    width: 120px;
    background: #9fffb8; }

.github_link {
  opacity: 0.5; }
  .github_link:hover {
    opacity: 1.0; }
  .github_link img {
    width: 30px;
    height: 30px; }
  @media (max-width: 1100px) {
    .github_link {
      display: none; } }
@keyframes noteshake {
  from, 100% {
    transform: translate(0, -47%); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-7%, -47%); }
  20%, 40%, 60%, 80% {
    transform: translate(7%, -47%); } }

.noteshake {
  animation-name: noteshake;
  animation-duration: 0.5s; }

@keyframes errorshake {
  from, 100% {
    transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-5%, 0); }
  20%, 40%, 60%, 80% {
    transform: translate(5%, 0); } }

.errorshake {
  animation-name: errorshake;
  animation-duration: 0.5s; }

.midi_button {
  background: transparent;
  padding: 6px 8px;
  color: #666;
  font-size: 14px;
  cursor: pointer; }
  .midi_button > div {
    display: flex;
    align-items: center; }
  .midi_button:hover {
    opacity: 1.0; }
  .midi_button img {
    opacity: 0.6;
    margin-right: 4px; }
  .midi_button .current_input_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    max-width: 150px;
    color: #444;
    font-weight: bold; }
  .midi_button:hover {
    background: #f4f4f4; }

.tabs_component {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(114, 114, 144, 0.8);
  z-index: 0; }
  .tabs_component > li {
    padding: 0;
    margin: 0 5px 0 0; }
    .tabs_component > li:last-child {
      margin-right: 0; }
    .tabs_component > li > button {
      color: #5b5b74;
      border-color: rgba(114, 114, 144, 0.8);
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      background: #f1f1f4;
      box-shadow: none; }
      .tabs_component > li > button.active {
        box-shadow: 0 1px 0 0 white;
        z-index: 1;
        background: white; }
