.stats_lightbox .note_bars_container, .stats_lightbox .note_timings_container {
  margin: 30px 0;
  position: relative; }

.stats_lightbox .timing_legend {
  color: #999;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 40px;
  line-height: 24px; }

.stats_lightbox .line_container {
  margin-left: 40px;
  position: absolute;
  top: 24px;
  right: 0;
  bottom: 0;
  left: 0; }
  .stats_lightbox .line_container .average_line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    bottom: 0; }

.stats_lightbox .note_timing_row {
  line-height: 24px;
  margin-bottom: 10px;
  display: flex; }
  .stats_lightbox .note_timing_row:last-child {
    margin-bottom: 0; }
  .stats_lightbox .note_timing_row .note_name {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 40px; }
  .stats_lightbox .note_timing_row .note_timing {
    flex: 1;
    position: relative;
    background: rgba(52, 160, 242, 0.5); }
    .stats_lightbox .note_timing_row .note_timing .timing_progress {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #34a0f2; }
    .stats_lightbox .note_timing_row .note_timing .timing_label {
      position: absolute;
      color: white;
      top: 0;
      left: 10px; }

.stats_lightbox .note_stat_row {
  line-height: 24px;
  display: flex;
  margin-bottom: 10px; }
  .stats_lightbox .note_stat_row:last-child {
    margin-bottom: 0; }
  .stats_lightbox .note_stat_row .note_name {
    text-align: center;
    width: 40px;
    font-weight: bold; }
  .stats_lightbox .note_stat_row .note_rates {
    flex: 1;
    display: flex;
    height: 100%; }
  .stats_lightbox .note_stat_row .hit_bar, .stats_lightbox .note_stat_row .miss_bar {
    height: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 0 4px white; }
  .stats_lightbox .note_stat_row .hit_bar {
    background: #95cc66; }
  .stats_lightbox .note_stat_row .miss_bar {
    background: #fe4e50;
    text-align: right; }
